
body {
	font-family: Gta, serif;
}

.box-bordered {
	width: 350px;
	font-family: Gta, serif;
	font-size: 60px;
	border: 3px solid black;
	border-radius: 10px;
	padding: 15px;
}

.hud-tablo {
	display: flex;
}

.hud-tablo-col {
	display: flex;
	flex-direction: column;
}

.hud-weapon {
	background-size: contain;
	width: 150px;
	height: 150px;
}

.hud-item {
	width: 100%;
	text-align: center;
}

.hud-progress-health {
	border: 2px solid darkred;
}

.hud-health {
	height: 15px;
	background-color: red;
}

.hud-progress-armor {
	border: 2px solid gray;
}

.hud-armor {
	height: 15px;
	background-color: silver;
}

.hud-weapon.kasteto {
	background: url("https://steamuserimages-a.akamaihd.net/ugc/250337591482772422/091793A1B74A7C114613E898EFC7DD3730AE6709/");
	background-size: contain;
}

.hud-weapon.rifle {
	background: url("https://img.favpng.com/18/12/12/grand-theft-auto-san-andreas-grand-theft-auto-v-grand-theft-auto-iv-grand-theft-auto-liberty-city-stories-grand-theft-auto-vice-city-png-favpng-4CnMP0kMzigvG5D6VeAuWVgD3.jpg");
	background-size: contain;
}

.hud-weapon.fist {
	background: url("https://i7.pngguru.com/preview/681/757/191/grand-theft-auto-san-andreas-grand-theft-auto-v-grand-theft-auto-iv-grand-theft-auto-iii-san-andreas-multiplayer-weapon.jpg");
	background-size: contain;
}

.hud-ammo.hud-item {
	height: 70px;
}

.hud-money {
	color: #438337;
}

.hud-wanted {
	width: 100px;
	font-size: 100%;
}
